@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 12px;
    background-color: rgb(91, 219, 213);
    width: 7%;
}

div { width: 200px; border: 1px solid gray; text-align:center; padding:20px; margin-bottom:10px;
}

img {
    width: 50px;
    height: auto;
}